page-home {
  .anonymousUserImageIcon {
    font-size: 3.5rem;
  }
  .current-user-message {
    div.item-inner {
      padding-left: 1rem;
      border-radius: 1rem;
      background-color: #86b0f9;
    }

    h2 {
      color: white;
    }

    ion-note {
      color: white;
    }
  }
}
