page-home {
  .anonymousUserImageIcon {
    font-size: 3.5rem;
  }

  .current-user-message {
    div.item-inner {
      padding-left: 1rem;
      border-radius: 1rem;
      background-color: #86b0f9;
    }

    h2 {
      color: white;
      white-space: normal;
    }

    ion-note {
      color: white;
    }
  }
  #current-message-input {
    width: 100%;
    background-color: transparent;
    border: none;
  }
}
